.header {
  display: flex;
  justify-content: space-between;
}

.lang {
  display: inline-flex;
  align-items: center;
  padding: 0px 6px 0px 16px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.11);
  border-radius: 0px 0px 10px 0px;
  margin-left: -10px;
  transform: skew(-35deg);
  height: 28px;

  & > div {
    transform: skew(35deg);
  }

  & a {
    text-decoration: none;
    user-select: none;
    color: black;
    padding: 6px 18px;
  }
}

.util {
  display: inline-flex;
  align-items: center;
  padding: 0px 6px 0px 16px;
  box-shadow: -4px 4px 8px 0px rgba(34, 60, 80, 0.11);
  border-radius: 0px 0px 0px 20px;
  margin-right: -10px;
  transform: skew(35deg);
  height: 56px;
  min-width: 360px;

  & > div {
    transform: skew(-35deg);
    padding-left: 10px;

    & > a {
      margin: 36px;
    }
  }
}