@use "@/shared/ui/styles/colors.module.scss";

.appTitleRoot {
  display: flex;
  align-items: center;

  & > a {
    text-decoration: none;
    color: colors.$grey90;
    font-weight: 500;
    font-size: 24px;
  }
}
