$black: #000000;
$white: #ffffff;

$red5: #ffebee;
$red10: #ffcdd2;
$red20: #ef9a9a;
$red30: #e57373;
$red40: #ef5350;
$red50: #f44336;
$red60: #e53935;
$red70: #d32f2f;
$red80: #c62828;
$red90: #b71c1c;

$pink5: #fce4ec;
$pink10: #f8bbd0;
$pink20: #f48fb1;
$pink30: #f06292;
$pink40: #ec407a;
$pink50: #e91e63;
$pink60: #d81b60;
$pink70: #c2185b;
$pink80: #ad1457;
$pink90: #880e4f;

$purple5: #f3e5f5;
$purple10: #e1bee7;
$purple20: #ce93d8;
$purple30: #ba68c8;
$purple40: #ab47bc;
$purple50: #9c27b0;
$purple60: #8e24aa;
$purple70: #7b1fa2;
$purple80: #6a1b9a;
$purple90: #4a148c;

$deeppurple5: #ede7f6;
$deeppurple10: #d1c4e9;
$deeppurple20: #ce93d8;
$deeppurple30: #9575cd;
$deeppurple40: #7e57c2;
$deeppurple50: #673ab7;
$deeppurple60: #5e35b1;
$deeppurple70: #512da8;
$deeppurple80: #4527a0;
$deeppurple90: #311b92;

$indigo5: #e8eaf6;
$indigo10: #c5cae9;
$indigo20: #9fa8da;
$indigo30: #7986cb;
$indigo40: #5c6bc0;
$indigo50: #3f51b5;
$indigo60: #3949ab;
$indigo70: #303f9f;
$indigo80: #283593;
$indigo90: #1a237e;

$blue5: #e3f2fd;
$blue10: #bbdefb;
$blue20: #90caf9;
$blue30: #64b5f6;
$blue40: #42a5f5;
$blue50: #2196f3;
$blue60: #1e88e5;
$blue70: #1976d2;
$blue80: #1565c0;
$blue90: #0d47a1;

$lightblue5: #e1f5fe;
$lightblue10: #b3e5fc;
$lightblue20: #81d4fa;
$lightblue30: #4fc3f7;
$lightblue40: #29b6f6;
$lightblue50: #03a9f4;
$lightblue60: #039be5;
$lightblue70: #0288d1;
$lightblue80: #0277bd;
$lightblue90: #01579b;

$cyan5: #e0f7fa;
$cyan10: #b2ebf2;
$cyan20: #80deea;
$cyan30: #4dd0e1;
$cyan40: #26c6da;
$cyan50: #00bcd4;
$cyan60: #00acc1;
$cyan70: #0097a7;
$cyan80: #00838f;
$cyan90: #006064;

$teal5: #e0f2f1;
$teal10: #b2dfdb;
$teal20: #80cbc4;
$teal30: #4db6ac;
$teal40: #26a69a;
$teal50: #009688;
$teal60: #00897b;
$teal70: #00796b;
$teal80: #00695c;
$teal90: #004d40;

$green5: #e8f5e9;
$green10: #c8e6c9;
$green20: #a5d6a7;
$green30: #81c784;
$green40: #66bb6a;
$green50: #4caf50;
$green60: #43a047;
$green70: #388e3c;
$green80: #2e7d32;
$green90: #1b5e20;

$lightgreen5: #f1f8e9;
$lightgreen10: #dcedc8;
$lightgreen20: #c5e1a5;
$lightgreen30: #aed581;
$lightgreen40: #9ccc65;
$lightgreen50: #8bc34a;
$lightgreen60: #7cb342;
$lightgreen70: #689f38;
$lightgreen80: #558b2f;
$lightgreen90: #33691e;

$lime5: #f9fbe7;
$lime10: #f0f4c3;
$lime20: #e6ee9c;
$lime30: #dce775;
$lime40: #d4e157;
$lime50: #cddc39;
$lime60: #c0ca33;
$lime70: #afb42b;
$lime80: #9e9d24;
$lime90: #827717;

$yellow5: #fffde7;
$yellow10: #fff9c4;
$yellow20: #fff59d;
$yellow30: #fff176;
$yellow40: #ffee58;
$yellow50: #ffeb3b;
$yellow60: #fdd835;
$yellow70: #fbc02d;
$yellow80: #f9a825;
$yellow90: #f57f17;

$amber5: #fff8e1;
$amber10: #ffecb3;
$amber20: #ffe082;
$amber30: #ffd54f;
$amber40: #ffca28;
$amber50: #ffc107;
$amber60: #ffb300;
$amber70: #ffa000;
$amber80: #ff8f00;
$amber90: #ff6f00;

$orange5: #fff3e0;
$orange10: #ffe0b2;
$orange20: #ffcc80;
$orange30: #ffb74d;
$orange40: #ffa726;
$orange50: #ff9800;
$orange60: #fb8c00;
$orange70: #f57c00;
$orange80: #ef6c00;
$orange90: #e65100;

$deeporange5: #fbe9e7;
$deeporange10: #ffccbc;
$deeporange20: #ffab91;
$deeporange30: #ff8a65;
$deeporange40: #ff7043;
$deeporange50: #ff5722;
$deeporange60: #f4511e;
$deeporange70: #e64a19;
$deeporange80: #d84315;
$deeporange90: #bf360c;

$brown5: #efebe9;
$brown10: #d7ccc8;
$brown20: #bcaaa4;
$brown30: #a1887f;
$brown40: #8d6e63;
$brown50: #795548;
$brown60: #6d4c41;
$brown70: #5d4037;
$brown80: #4e342e;
$brown90: #3e2723;

$grey5: #fafafa;
$grey10: #f5f5f5;
$grey20: #eeeeee;
$grey30: #e0e0e0;
$grey40: #bdbdbd;
$grey50: #9e9e9e;
$grey60: #757575;
$grey70: #616161;
$grey80: #424242;
$grey90: #212121;

$bluegrey5: #eceff1;
$bluegrey10: #cfd8dc;
$bluegrey20: #b0bec5;
$bluegrey30: #90a4ae;
$bluegrey40: #78909c;
$bluegrey50: #607d8b;
$bluegrey60: #546e7a;
$bluegrey70: #455a64;
$bluegrey80: #37474f;
$bluegrey90: #263238;
